@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'JetBrainsMonoNerd', "Courier New", Courier, monospace;
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: #0f0f0f;
  min-width: 320px;
  text-align: center;
  word-wrap: normal;
}

@font-face {
    font-family: "JetBrainsMonoNerd";
    src: url('../JetBrainsMonoNerd.woff2') format('woff2');
}

p {
    margin-left: 15px;
    color: #e7e7e7;
    padding-top: 15px;
    padding-bottom: 15px;
    word-break: normal;
    line-height: 1.25;
}

a {
  color: #71cccf;
  text-decoration: none;
  font-size: 14px;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    color: #f0f0f0;
    font-size: 32px;
    font-weight: 500;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  color: #f0f0f0;
  font-size: 28px;
  font-weight: 550;
}

.hero-content {
  max-width: 50%;
}
